.full-height.layout.layout-row
  md-sidenav.md-sidenav-left.md-whiteframe-z2.layout(md-component-id='left',
  md-is-locked-open="$mdMedia('gt-md')")
    md-toolbar.md-tall.md-accent
  .flex.layout.layout-column
    md-toolbar
      .md-toolbar-tools
    md-content.layout-padding.flex
      .new-card
        md-button(ng-click="showAddDialog()") New card
      .cards
        ul(swing-stack)
          li(
          swing-card, swing-on-throwoutleft="throwOut(note,'unsure')",
          swing-on-throwoutright="throwOut(note, 'sure')",
          swing-on-throwin="throwin(eventName, eventObject)",
          swing-on-dragstart="console.log(eventName, eventObject)",
          swing-on-dragmove="dragmove(eventName, eventObject)",
          swing-on-dragend="dragend(eventName, eventObject)",
          ng-repeat="note in notes", ng-if="!note.throwOut")
            .card( ng-mousedown="mouseDown($event)", id='yo',
            ng-mouseup="mouseUp()",ng-click="toogleFlip(note)",
            ng-class="{'flipped' : note.clicked}")
              .front
                 span: h1 {{ note.front }}
              .back
                span: h1 {{ note.back }}
      .counts
        h3 Sure
        h1 {{ sure.length }}
        br
        br
        h3 Unsure
        h1 {{ unsure.length }}
