.full-height.layout.layout-row
  md-sidenav.md-sidenav-left.md-whiteframe-z2.layout(md-component-id='left',
  md-is-locked-open="sideBar")
    md-toolbar.sidebar-left-toolbar
     .md-toolbar-tools.layout.layout-row.layout-align-start-center
      .sidebar-left-logo
        h2.sidebar-left-title.flex Swiper
    md-content.nav-content(flex)
      ul
         li()
           ul()
             li()
               menu-toggle(section="decks")
  .flex.layout.layout-column
    md-toolbar.top-nav
      .md-toolbar-tools
        div(flex, class="flex-offset-92")
          md-button.tool-bar-button(ng-click="toogleSideBar()")
            md-icon(md-svg-icon="../../assets/icons/expand.svg")
    md-toolbar
      .md-toolbar-tools.sub-nav
        md-button
          p(ng-click="listViewOn()") list view
    md-fab-speed-dial.fab-wrapper(md-direction="right")
      md-fab-trigger
       md-button.md-fab.fab-btn(ng-click="showAddDialog()")
         md-icon(md-svg-src="../../../assets/icons/add.svg")
    md-content.main-content.layout-padding.flex
      div(ng-if="listView")
        div(layout="row",layout-wrap)
          div(flex="100")
            .list-item(ng-repeat="note in notes")
              .front
                h3 {{ note.front }}
              .back
                h3 {{ note.back }}
      div(ng-if="cardView")
        div(layout="row",layout-sm="column")
          div(flex)
            .cards
              ul(swing-stack)
                li(
                swing-card, swing-on-throwoutleft="throwOut(note,'unsure')",
                swing-on-throwoutright="throwOut(note, 'sure')",
                swing-on-throwin="throwin(eventName, eventObject)",
                swing-on-dragstart="console.log(eventName, eventObject)",
                swing-on-dragmove="dragmove(eventName, eventObject)",
                swing-on-dragend="dragend(eventName, eventObject)",
                ng-repeat="note in notes", ng-if="!note.throwOut")
                  .card( ng-mousedown="mouseDown($event)", id='yo',
                  ng-mouseup="mouseUp()",
                  ng-class="{'flipped' : note.clicked}")
                    .front
                      .controlls(layout="row")
                        div(flex="50")
                          md-button.card-top.left
                            md-icon(md-svg-icon="../../assets/icons/favorite.svg")
                        div(flex="50")
                          md-button.card-top.right(ng-click="toogleFlip(note)")
                            md-icon(md-svg-icon="../../assets/icons/flip.svg")
                      h1 {{ note.front }}
                    .back
                      .controlls(layout="row")
                        div(flex="50")
                          md-button.card-top.left
                            md-icon(md-svg-icon="../../assets/icons/favorite.svg")
                        div(flex="50")
                          md-button.card-top.right(ng-click="toogleFlip(note)")
                            md-icon(md-svg-icon="../../assets/icons/flip.svg")
                      h1 {{ note.back }}
          div(flex)
            div(layout="column")
              div(flex)
                .break-down(layout)
                  div(flex)
                    h1 {{ notes.length || 0 }}
                    h3 Cards
                  div(flex)
                    h1 {{ sure.length || 0 }}
                    h3 Sure
                  div(flex)
                    h1 {{ unsure.length || 0 }}
                    h3 Unsure
              div(flex)
                progress-tracker(value="sure.length + unsure.length || 0", max-value="notes.length")
